@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

.profile {
    position: relative;
}

.image {
    border-radius: 50%;
    display: block;
    width: 300px;
    height: 250px;
    border: 5px dotted rgb(193, 203, 6);
    margin-top: 40px;
}

.heading {
    height: 20px;
}

.head {
    height: 30px;
}

.name {
    background-color: rgb(193, 203, 6);
    border-radius: 15px;
    width: 350px;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    text-align: center;
    padding: 5px;
    top: 75%;
    /* left: 38%; */
}

hr {
    border: 1px solid grey;
}

.address {
    font-size: 25px;
    padding: 5px;
}

.left {
    border-right: 1px solid gray;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/* .left{
  
    border-right: 2px solid gray;
} */
.details {
    margin: 40px 50px;
}

/* .skillName{
   
   font-size:20px;
   
} */
/* .ranger{
    /* display:inline-flex; 
    width:90%;
}  */
/* .form-range{
    width:75%;
    height:0.75rem;
    background: orange;  
    
  
} */
/* .form-range::-webkit-slider-thumb{
    
    background: rgb(95, 55, 55);
 
  }  */

.progress {
    width: 100%;
}

.table {
    table-layout: fixed;
    background: none;
}